<ul class="nav justify-content-center nav-tabs nav-fill">
    <li class="nav-item"><a class="nav-link" href="{% url 'home'  %}">Accueil</a></li>
    <!-- TODO <li class="nav-item"><a class="nav-link" href="progress">Progress</a></li> -->
    <li class="nav-item"><a class="nav-link" href="{% url 'rankingLight'  %}">Rangs EPGP</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'history'  %}?target_player__isActive=true">Historique EPGP</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'lootsLight'  %}">Equipements</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'rules'  %}">Règlement EPGP</a></li>
  </ul>