[Unit]
Description=lbdb django runner
After=network.target

[Service]
WorkingDirectory=/opt/lbdb/django
ExecStart=gunicorn --bind 0.0.0.0:8000 djangoepgp.wsgi

[Install]
WantedBy=default.target
