[Unit]
Description=lbdb django runner
After=network.target

[Service]
User=github
WorkingDirectory=/opt/lbdb/django
ExecStart=/opt/lbdb/django/start.sh

[Install]
WantedBy=default.target
