<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
  <!-- <div class="c-sidebar-brand"><img class="c-sidebar-brand-full" src="/static/assets/brand/coreui-base-white.svg" width="118" height="46" alt="CoreUI Logo"><img class="c-sidebar-brand-minimized" src="/static/assets/brand/coreui-signet-white.svg" width="118" height="46" alt="CoreUI Logo"></div> -->
  <div class="c-sidebar-brand">
    <h2>Les Belettes de Brill</h2>
  </div>
  {% if user.is_authenticated %}
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
      </svg> Accueil</a></li>
    <li class="c-sidebar-nav-title">Joueurs</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/players">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-user"></use>
      </svg> Joueurs</a></li>       
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/characters">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-wc"></use>
        </svg> Personnages</a> </li>
    <li class="c-sidebar-nav-title">Evenements</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/raids">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-gamepad"></use>
      </svg> Raids</a></li>
    <li class="c-sidebar-nav-title">Loot</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/loots">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cart"></use>
      </svg> Loots</a></li>
    <li class="c-sidebar-nav-title">EPGP</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/epgp/giveloot">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
      </svg> Award Loot</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/epgp/giveraid">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
      </svg> Award Raid</a> </li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/epgp">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
        </svg> Logs EPGP</a> </li>    
  </ul>
  {% else %}
  <ul class="c-sidebar-nav">
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
      </svg> Accueil</a></li>   
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/characters">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-wc"></use>
        </svg> Personnages</a> </li>
    <li class="c-sidebar-nav-title">Loot</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/loots">
      <svg class="c-sidebar-nav-icon">
        <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-cart"></use>
      </svg> Loots</a></li>
    <li class="c-sidebar-nav-title">EPGP</li>
    <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" href="/epgp">
        <svg class="c-sidebar-nav-icon">
          <use xlink:href="/static/assets/vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
        </svg> Logs EPGP</a> </li>    
  </ul>
  {% endif %}
  <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
    data-class="c-sidebar-minimized"></button>
</div>

