{% extends "layouts/base-site-light.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block stylesheets %}
<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="https://wow.zamimg.com/js/tooltips.js"></script>
{% endblock stylesheets %}
{% block title %} Historique EPGP {% endblock %} 
{% block content %}

<div class="card mt-5">
  <div class="card-header"><h5 class="card-title">Le détail</h5></div>
  <div class="card-body">
    {% render_table tablelog %}
  </div>
</div>
{% endblock content %}
