{% extends "layouts/base-site-fullscreen.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block stylesheets %}
<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="https://wow.zamimg.com/js/tooltips.js"></script>
{% endblock stylesheets %}
{% block title %} Accueil {% endblock %} 
{% block content %}
<div class="jumbotron jumbotron-fluid col-12">
  <div class="container">
    <h1 class="display-4">Les Belettes de Brill</h1>
    <p class="lead">Bienvenue chez les belettes !</p>
  </div>
</div>
<div class="card">
  <div class="card-header"><h5 class="card-title">Le ranking des belettes</h5></div>
  <div class="card-body">
    {% render_table tableranking %}
  </div>
</div>

<div class="card mt-5">
  <div class="card-header"><h5 class="card-title">Le détail</h5></div>
  <div class="card-body">
    {% render_table tablelog %}
  </div>
</div>
{% endblock content %}
