{% extends "layouts/base-site-light.html" %}
{% load render_table from django_tables2 %}
{% load django_bootstrap5 %}
{% block stylesheets %}
<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="https://wow.zamimg.com/js/tooltips.js"></script>
{% endblock stylesheets %}
{% block title %} Accueil {% endblock %} 
{% block content %}
<div class="card">
  <div class="card-header"><h5 class="card-title">Nous rejoindre</h5></div>
  <div class="card-body">
    Rejoignez-nous sur <a href="https://discord.gg/F6mJ7EXZ">Discord</a> !
  </div>
</div>
<div class="card">
  <div class="card-header"><h5 class="card-title">L'addon indispensable pour les raids</h5></div>
  <div class="card-body">
    Un Addon indispensable pour aider à la distribution du loot: <a href="https://www.curseforge.com/wow/addons/rclootcouncil-classic">RC Loot Council Classic</a>
  </div>
</div>
{% endblock content %}
