{% extends "layouts/base-site.html" %}

{% block stylesheets %}
<link href="/static/assets/css/wow/classes-styles.css" rel="stylesheet"></script>
{% endblock stylesheets %}

{% block title %} Raid {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="fade-in">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <form method="POST" class="post-form" action="add">
              <div class="card-header"><strong>Créer un nouveau Raid</div>
              <div class="card-body">    
                  {% csrf_token %}
                  {{ form }}
              </div>
              <div class="card-footer">
                <button class="btn btn-sm btn-primary" type="submit"> Valider</button>
                <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
              </div>
            </form>
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- /.row-->
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
<!-- Specific Page JS goes HERE  -->
{% endblock javascripts %}