{% extends "layouts/base-site.html" %}
{% load render_table from django_tables2 %}

{% block stylesheets %}
<script>const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};</script>
<script src="https://wow.zamimg.com/js/tooltips.js"></script>
<link href="/static/assets/css/wow/classes-styles.css" rel="stylesheet"></script>
{% endblock stylesheets %}

{% block title %} EPGP {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="fade-in">
    <div class="row">
      <div class="col-sm-9">
        <div class="card">
          <form method="POST" class="post-form" action="{{ raidid }}">
            <div class="card-header"><strong>Attribuer un item</strong></div>
            <div class="card-body">
                {% csrf_token %}
                {{ form }}
            </div>
            <div class="card-footer">
              <button class="btn btn-sm btn-primary" type="submit"> Valider</button>
              <button class="btn btn-sm btn-danger" type="reset"> Reset</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-header"><strong>Item attribué: <a id="wowheadlink" href="https://www.wowhead.com/cata/fr/item=">WowHead</a></strong></div>
          <div class="card-body">    
            <h4>Work In Progress...</h4>
          </div>
        </div>
      </div>
      <!-- /.col-->
    </div>
    <!-- /.row-->
  </div>
</div>
{% if saved %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">{{ modalTitle }}</h4>
  <p>{{ modalContent|safe }}</p>
  </div>
{% endif %}
{% endblock content %}

{% block javascripts %}
<script type="text/javascript">
  function changeWowHeadLink() {
    console.log(document.getElementById("id_loot_id").value);
    var value = document.getElementById("id_loot_id").value;
    document.getElementById("wowheadlink").href = "https://www.wowhead.com/cata/fr/item=" + value;
    const whTooltips = {colorLinks: true, iconizeLinks: true, renameLinks: true};
    WH.Tooltips.refreshLinks()
  }
</script>
{{ frm.media }}
{% endblock javascripts %}
